/* 2F004F dark purple */
/* 5F0A87 purple */
/* A4508B light pink*/
/* C191A1  brown*/
/* EABFCB light brown on black text */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	background-color: #2f004f;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem 1rem;
}
header {
	background-color: transparent;
	backdrop-filter: blur(10px);
	box-shadow: 0, 10px, 10px rgba(0, 0, 0, 0.2);
	position: sticky;
	top: 0;
	/* z-index: 999; */
	padding: 1rem;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	font-weight: bold;
	color: #fff;
}
.list-items {
	display: flex;
	list-style: none;
	flex-direction: column;
	width: 100%;
	position: absolute;
	opacity: 0;
	top: 100%;
	left: 0;
	padding: 1rem;
	transform: translateX(-100%);
	pointer-events: none;
	transition: all 0.7s ease;
}
.list-items.active {
	display: flex;
	transform: translateX(0);
	opacity: 1;
}
li a {
	color: white;
	text-decoration: none;
	cursor: pointer;
}
.hero {
	background: linear-gradient(100deg, #5f0a87 0%, #2f004f 100%);
	padding: 3rem 1rem;
	text-align: center;
	color: #fff;
}
.hero h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.hero p {
	font-size: 1.1rem;
	margin-bottom: 2rem;
	opacity: 0.9;
}
.cta-button {
	color: #fff;
	text-decoration: none;
	background-color: #c191a1;
	padding: 12px;
	/* border: 1px solid whit */
	border-radius: 25px;
}
.about-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}
.about-image {
	height: 200px;
	width: 200px;
	background-color: #eabfcb;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.about-image img {
	max-width: 100%;
	height: 200px;
	border-radius: 50%;
}

.about-head {
	text-align: center;
	color: #fff;
	font-size: 32px;
	margin-bottom: 12px;
	margin-bottom: 50px;
}
.about-text {
	flex: 1;
	padding: 0px 14px;
}
.paragragh {
	color: #a4508b;
	margin-bottom: 0.5rem;
}
.skill-container {
	display: flex;
	width: 100%;
	gap: 1.3rem;
	flex-wrap: wrap;
	justify-content: center;
}
.skill-card {
	background: #f8f9fa;
	padding: 1.5rem;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	width: 400px;
	height: 150px;
}
.skill-card h3 {
	text-align: center;
	font-size: 28px;
	font-weight: bold;
}
.skill-card p {
	font-size: 24px;
	margin-top: 8px;
}
.form-style {
	max-width: 600px;
	margin: 0 auto;
	border-radius: 50px;
	padding: 20px;
	background-color: #5f0a87;
	font-weight: bold;
}
.form-style2 {
	border-radius: 8px;
	color: #c191a1;
	outline: none;
}
input {
	width: 100%;
	padding: 12px 16px;
	font-size: 20px;
	border-radius: 12px;
	outline: none;
}
textarea {
	padding: 12px 16px;
	width: 100%;
	font-size: 20px;
	border-radius: 12px;
	outline: none;
}
.btn-submit {
	padding: 12px 16px;
	width: 100%;
	font-size: 20px;
	border-radius: 12px;
	background-color: #eabfcb;
	transition: 0.5s ease;
	border: none;
	cursor: pointer;
}
.btn-submit:hover {
	transform: scale(1.01);
	background-color: #eca7bb;
}

/* media query respones */
@media (min-width: 760px) {
	.menu {
		display: none;
	}
	.list-items {
		flex-direction: row;
		width: auto;
		position: static;
		gap: 2rem;
		transform: translateX(0);
		opacity: 1;
		pointer-events: all;
	}
	.about-content {
		flex-direction: row;
	}
	.container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 3rem 2rem;
	}
}
